<div class="container pt-3 gap-3">
  <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)" class="gap-3">
    <div class="row g-3">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="name"
          #nameModel="ngModel"
          [class.is-invalid]="nameModel.invalid && nameModel.touched"
          required
        />
        <div
          *ngIf="nameModel.invalid && nameModel.touched"
          class="invalid-feedback"
        >
          <div *ngIf="nameModel.errors?.['required']">Name is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="firstName">Apellido Paterno:</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          [(ngModel)]="firstName"
          #firstNameModel="ngModel"
          [class.is-invalid]="firstNameModel.invalid && firstNameModel.touched"
          required
        />
        <div
          *ngIf="firstNameModel.invalid && firstNameModel.touched"
          class="invalid-feedback"
        >
          <div *ngIf="firstNameModel.errors?.['required']">
            First Name is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Apellido Materno:</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          [(ngModel)]="lastName"
          #lastNameModel="ngModel"
          [class.is-invalid]="lastNameModel.invalid && lastNameModel.touched"
          required
        />
        <div
          *ngIf="lastNameModel.invalid && lastNameModel.touched"
          class="invalid-feedback"
        >
          <div *ngIf="lastNameModel.errors?.['required']">
            Last Name is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Teléfono:</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          [(ngModel)]="phone"
          #phoneModel="ngModel"
          [class.is-invalid]="phoneModel.invalid && phoneModel.touched"
          required
          pattern="^[0-9]*$"
        />
        <div
          *ngIf="phoneModel.invalid && phoneModel.touched"
          class="invalid-feedback"
        >
          <div *ngIf="phoneModel.errors?.['required']">Phone is required.</div>
          <div *ngIf="phoneModel.errors?.['pattern']">
            Phone must only contain numbers.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="email"
          #emailModel="ngModel"
          [class.is-invalid]="emailModel.invalid && emailModel.touched"
          required
          email
        />
        <div
          *ngIf="emailModel.invalid && emailModel.touched"
          class="invalid-feedback"
        >
          <div *ngIf="emailModel.errors?.['required']">Email is required.</div>
          <div *ngIf="emailModel.errors?.['email']">
            Email format is not valid.
          </div>
        </div>
      </div>

      <div class="col-4">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
</div>

<div class="container pt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.Id }}</td>
        <td>{{ client.Name }}</td>
        <td>{{ client.FirstName }}</td>
        <td>{{ client.LastName }}</td>
        <td>{{ client.Phone }}</td>
        <td>{{ client.Email }}</td>
      </tr>
    </tbody>
  </table>
</div>
